@font-face{
	font-family:'Navigo';
	font-weight:300;
	src: 	url('fonts/navigo/unzip/Navigo-Light-Web.woff2') format('woff2'),
			url('fonts/navigo/unzip/Navigo-Light-Web.woff') format('woff');
}
@font-face{
	font-family:'Navigo';
	font-weight:200;
	src: 	url("fonts/navigo/unzip/Navigo-ExtraLight-Web.woff2") format('woff2'),
			url("fonts/navigo/unzip/Navigo-ExtraLight-Web.woff") format('woff');
}


