/*  */
.add_bl1{
	position: relative;
	width: 100%;
}
.btn{
	text-transform: uppercase;
}


/*  */
.add_bl1_n1{
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.add_bl1_n1 .logo_txt{
	color: var(--bl);
	font-weight: 600;
}


/*  */
.add_bl1_n2{
	position: relative;
	margin-top: 30px;
}
.add_bl1_n2 .foot_sos a{
	color: var(--bl);
}




.add_bl1_a{
	position: relative;
	width: 100%;
	margin-top: 30px;
	padding-top: 30px;
}
.add_bl1_a:last-child{
	padding-top: 10px;
	padding-bottom: 120px;
}

.add_bl1_a .add_bl1_ac{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: var(--cl1);
}




/*  */
.add_bl1_n3{}
.add_bl1_s{
	position: relative;
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.add_bl1_s a {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: .8px;
	color: var(--bl);
	transition: var(--tm);
}
.add_bl1_s span {
	margin-top: 5px;
	font-size: 11px;
	color: var(--cl);
}



.add_bl1_b{
	position: relative;
	width: 100%;
	margin-top: 20px;
}
.add_bl1_b a, .add_bl1_b .btn{width:100%}